body{
  height: 90vh;

  animation-name: colorChange;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

img {
  display: block;
  margin: auto;
  flex: center;
  opacity: 0.5;
  margin-top: 60px;

  animation-name: shrink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

audio{
  display: block;
  margin: auto;
  margin-top: 80px;
}

@keyframes shrink {
  from{transform: rotateZ(-15deg)}
  50%{transform: scale(0.8 , 0.8);}
  to{transform: rotateZ(15deg)}
}

@keyframes colorChange {
  0%{background-color: rgb(255, 58, 58);}
  20%{background-color: rgb(255, 159, 64);}
  40%{background-color: rgb(255, 229, 82);}
  60%{background-color: rgb(203, 248, 115);}
  80%{background-color: rgb(112, 156, 233);}
  100%{background-color: rgb(205, 100, 226);}
}