.container{
	position: absolute; 
	  left: 0; 
	  right: 0; 
	  margin-left: auto; 
	  margin-right: auto; 
	  width:50%;
}

.buttonsDiv{
	position: absolute;
}

button{
	display: block;
	padding:10px;
	margin:10px;
	height:10%;
	background-color: white;
	font-variant: all-small-caps;
	font-size: 20px;
}

.imagesDiv{
	position: absolute;
	position: absolute; 
	  left: 0; 
	  right: 0; 
	  width:50%;
}

li{
	position: absolute;
	list-style-type: none;
	height: 1180px;
	width: 700px;
	left: 0; 
	right: 0; 
	margin: 0;
	padding: 0;
}

#base{
	background-image: url("img/base.png");
}