.container{
	position: relative;
	height: 100%;
	width:100%;
}

.divRight{
	position: absolute;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

button{
	display: block;
	padding:10px;
	margin-top:8%;
	margin-bottom:8%;
	background-color: white;
	font-variant: all-small-caps;
	font-size: 20px;
}

.images{
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
}
